In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder

# 1. Data exploration
    - Load data
    - Check shape
    - Identify any missing values
    - Check for any duplicate values
    - Identify data types for each column
    - Gather statistical summary

In [4]:
data = pd.read_csv('../datasets/cloud_data_usage_2025-Jun-27-16:25:00.csv')

In [ ]:
data.shape

(10000, 10)

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   instance_type            10000 non-null  object
 1   region                   10000 non-null  object
 2   cpu_utilization_percent  10000 non-null  float64
 3   memory_usage_percent     10000 non-null  float64
 4   storage_gb               10000 non-null  float64
 5   network_gb               10000 non-null  float64
 6   usage_hours              10000 non-null  float64
 7   month                    10000 non-null  int64
 8   is_business_hours        10000 non-null  bool
 9   total_cost               10000 non-null  float64
dtypes: bool(1), float64(6), int64(1), object(2)
memory usage: 713.0+ KB

In [6]:
data

     instance_type          region  ...  is_business_hours  total_cost
0         t3.small       us-east-1  ...               True       23.47
1        t3.medium       us-east-1  ...               True       12.74
2        c5.xlarge       us-east-1  ...               True      138.09
3        r5.xlarge       us-east-1  ...              False       59.57
4         m5.large  ap-southeast-1  ...               True       30.86
...            ...             ...  ...                ...         ...
9995      t3.small  ap-southeast-1  ...              False        7.51
9996      m5.large       us-west-2  ...              False       88.37
9997      m5.large  ap-southeast-1  ...              False       35.76
9998     m5.xlarge  ap-southeast-1  ...              False      187.07
9999      m5.large       us-east-1  ...              False       86.80

[10000 rows x 10 columns]

In [7]:
data.isnull().sum()

instance_type              0
region                     0
cpu_utilization_percent    0
memory_usage_percent       0
storage_gb                 0
network_gb                 0
usage_hours                0
month                      0
is_business_hours          0
total_cost                 0
dtype: int64

In [8]:
data.describe()

       cpu_utilization_percent  ...    total_cost
count             10000.000000  ...  10000.000000
mean                 54.160001  ...     67.012235
std                  20.680207  ...     59.215448
min                   5.000000  ...      1.380000
25%                  39.500000  ...     24.947500
50%                  54.260000  ...     45.000000
75%                  68.810000  ...     90.987500
max                  95.000000  ...    335.670000

[8 rows x 7 columns]

In [11]:
data.duplicated().sum()

np.int64(0)